@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-weight: inherit;
    line-height: 0.9em;
    letter-spacing: -0.04em;
    margin-bottom: 12px;
    @apply text-brand-primary font-bold
}

a {
    @apply text-brand-primary;
}

p {
    max-width: 46em;
}

img {
    display: inline;
}
.btn-brand {
    background: linear-gradient(90deg, #CB6CE6 0%, #454699 100%);
    border-radius: 6px;
}
@media only screen and (min-width: 426px) {
    
    
    h1 {
        @apply text-7xl;
    }

    h2 {
        @apply text-6xl
    }

    h3 {
        @apply text-5xl
    }

    h4 {
        @apply text-4xl
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 0.8em;
    }
}